version: "3.8"

services:
  postgres:
    image: postgres:15-alpine
    container_name: postgres
    restart: unless-stopped
    env_file:
      - ./services/postgres/.env
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - n8n-network
  
  n8n-lab:
    image: n8nio/n8n:2.0.2
    container_name: n8n-lab
    restart: unless-stopped
    ports:
      - "5678:5678"
    env_file:
      - ./services/n8n/lab/.env
    volumes:
      - n8n-data:/home/node/.n8n
    networks:
      - n8n-network
    depends_on:
      - postgres

volumes:
  postgres-data:
    driver: local
    name: postgres-data
  n8n-data:
    driver: local
    name: n8n-data

networks:
  n8n-network:
    driver: bridge
    name: n8n-network
