version: "3.8"

services:
  postgres:
    image: postgres:15-alpine
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: n8n
      POSTGRES_USER: n8n
      POSTGRES_PASSWORD: n8np4ssw0rd
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - n8n-network
  
  n8n:
    image: n8nio/n8n:2.0.2
    container_name: n8n
    restart: unless-stopped
    ports:
      - "5678:5678"
    environment:
      - DB_TYPE=postgresdb
      - DB_POSTGRESDB_PORT=5432
      - DB_POSTGRESDB_DATABASE=n8n
      - DB_POSTGRESDB_HOST=postgres
      - DB_POSTGRESDB_USER=n8n
      - DB_POSTGRESDB_PASSWORD=n8np4ssw0rd
    volumes:
      - n8n-data:/home/node/.n8n
    networks:
      - n8n-network
    depends_on:
      - postgres

volumes:
  postgres-data:
    name: postgres-data
  n8n-data:
    name: n8n-data

networks:
  n8n-network:
    driver: bridge
    name: n8n-network
