services:
  postgres:
    container_name: postgres
    restart: unless-stopped
    build:
      context: ./services/postgres
      dockerfile: Dockerfile
    networks:
      - infra-network
    env_file:
      - ./services/postgres/secrets/.env
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "/healthy.sh"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres-data:
    driver: local
    name: postgres-data

networks:
  infra-network:
    driver: bridge
    name: infra-network